.form {
  margin-bottom: 30px;
}

.form-title {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 40px;
  color: #e98a8a;
  margin-bottom: 30px;
  padding-right: 20px;
  display: inline-block;
}

.form-title-change {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 25px;
  color: #e98a8a;
  margin-bottom: 10px;
  padding-right: 10px;
  display: inline-block;
}