.back-to-start {
  text-decoration: none;
  color: #e98a8a;
  text-transform: uppercase;
}

.back-to-start:hover {
  color: #333;
}

.back-to-start div {
  margin-bottom: 30px;
  font-size: 14px;
}

.form {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 40px;
  color: #e98a8a;
  padding-right: 20px;
}

.form-title-change {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 25px;
  color: #e98a8a;
  margin-bottom: 10px;
  padding-right: 10px;
}

.form-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-image img {
  height: 300px;
  animation: float 6s ease-in-out infinite alternate;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 350px;
  height: 50px;
  line-height: 3;
  background: #e98a8a;
  overflow: hidden;
  border: 1px solid #e98a8a;
  border-radius: 10px;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
}

/* Arrow */
.select::after {
  content: '\25BC';
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #e98a8a;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */
.select:hover::after {
  color: #333;
}