.content-container {
  flex-grow: 1;
}

.back-to-start {
  text-decoration: none;
  color: #e98a8a;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
}

.back-to-start:hover {
  color: #333;
}

.form {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 40px;
  color: #e98a8a;
  padding-right: 20px;
}

.form-title-change {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 25px;
  color: #e98a8a;
  padding-right: 10px;
}

.form-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.form-image img {
  height: 300px;
  animation: float 6s ease-in-out infinite alternate;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 350px;
  height: 50px;
  line-height: 3;
  background: #e98a8a;
  overflow: hidden;
  border: 1px solid #e98a8a;
  border-radius: 10px;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

/* Arrow */
.select::after {
  content: '\25BC';
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  background: #e98a8a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s all ease-in-out;
}

/* Transition */
.select:hover::after {
  color: #333;
}

@media (max-width: 992px) {
  
  .form {
    flex-direction: column;
  }

  .form-title {
    margin-bottom: 40px;
  }

}

@media (max-width: 768px) {

  .back-to-start {
    align-self: flex-start;
  }

  .select {
    width: 260px;
  }

  select {
    font-size: 14px;
  }
}

@media (max-width: 600px) {

  .back-to-start {
    font-size: 10px;
  }

  .form {
    margin-bottom: 10px;
  }

  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-title-change {
    font-size: 18px;
  }

  .form-image img {
    height: 120px;
  }

  .select {
    width: 220px;
    height: 30px;
  }

  .select::after {
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
  }

  select {
    font-size: 11px;
  }
}

