.page-header {
  height: 300px;
  background: rgb(233,138,138);
  background: linear-gradient(120deg, rgba(233,138,138,1) 0%, rgba(255,191,191,1) 100%);
  display: flex;
  justify-content: flex-start;
}

.header-logo {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.header-logo-title {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 80px;
  color: #fff;
  margin: 0;
  display: inline;
}

.header-logo-image {
  height: 100px;
  margin-left: 10px;
  margin-right: 20px;
}