.page-main {
  flex-grow: 1;
  border-left: 5px dotted #e98a8a;
  border-right: 5px dotted #ffbfbf;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 600px) {

  .page-main {
    padding: 20px 10px;
  }

}