.video-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  border: 1px solid #e98a8a;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.video-container:hover {
  background-color: #ffbfbf;
  border-color: #ffbfbf;
}

.video-item-title {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  max-width: 320px;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

  .video-thumbnail {
    height: 130px;
  }

  .video-item-title {
    font-size: 12px;
    max-width: 230px;
  }

  .video-container {
    padding: 5px;
    height: 200px;
    margin-bottom: 5px;
  }

}