.video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.video-list-title {
  font-family: 'Caveat Brush', cursive;
  font-weight: 300;
  font-size: 25px;
  color: #e98a8a;
  margin-bottom: 10px;
}