.video-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  border: 1px solid #e98a8a;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  height: 250px;
  cursor: pointer;
}

.video-container:hover {
  background-color: #ffbfbf;
  border-color: #ffbfbf;
}

.video-item-title {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  max-width: 320px;
  text-align: center;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

  .video-thumbnail {
    height: 150px;
  }

  .video-item-title {
    font-size: 12px;
    max-width: 266px;
  }

  .video-container {
    padding: 5px;
    height: 200px;
    margin-bottom: 5px;
  }

}